@use "global" as *;

.p-cards-2 {
  display: flex;
  column-gap: rem(15);
  @include mq(md) {
    flex-wrap: wrap;
    gap: rem(30) rem(15);
  }
}

.p-cards-2__item {
  @include mq(md) {
    width: calc((100% - #{rem(15)} * 2) / 3);
  }
}
