@use "global" as *;

.p-cards {
  @include mq(md) {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: rem(21);
  }
}

.p-cards__item + .p-cards__item {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: 0;
  }
}
