@use "global" as *;

.p-flow-item {
  display: flex;
}

.p-flow-item__body {
  margin-left: rem(10);
  @include mq(md) {
  margin-left: rem(36);

  }
}

.p-flow-item__title {
  font-size: rem(18);
  font-weight: 900;
  letter-spacing: .04em;
  line-height: calc(34 / 24);
  @include mq(md) {
  font-size: rem(24);

  }
}

.p-flow-item__text {
  font-size: rem(15);
  line-height: calc(27 / 15);
  letter-spacing: .04em;
  margin-top: rem(8);
}

.p-flow-item__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #011748;
  font-size: rem(30);
  font-family: $font-sub;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  width: rem(50);
  // height: rem(200);
  flex-shrink: 0;

  @include mq(md) {
    width: rem(90);
    height: rem(160);
    font-size: rem(36);

  }
}


.p-flow-item__number span {
  font-size: rem(10);
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 3px;

  @include mq(md) {
    font-size: rem(12);

  }
}

.p-flow-item__number::after {
  content: "";
  width: 2px;
  min-height: rem(100);
  height: 100%;
  background: #011748;
  margin-top: rem(30);

  @include mq(md) {
    width: 2px;
    height: rem(61);
    min-height: auto;

  }
}

.p-flow-item:last-child .p-flow-item__number {
  color: $white;
  background: $brown;
  border-radius: 50%;
  width: rem(50);
  height: rem(50);

  @include mq(md) {
    width: rem(90);
    height: rem(90);
  }
}

.p-flow-item:last-child .p-flow-item__number::after {
  display: none;
}